.Rproj.user
.Rhistory
.RData
.Ruserdata
docs
.DS_Store
# Compiled source #
###################
*.a
*.com
*.class
*.dll
*.exe
*.o
*.py[ocd]
*.so
.build_cache_dir

#########################################
# Editor temporary/working/backup files #
.#*
*\#*\#
[#]*#
*~

__pycache__/
