<!DOCTYPE html>
<html>
  <head><title>Test Bluesky Embed</title></head>
  <body>
    <iframe
      src="https://bsky.app/profile/oscarkjell.bsky.social/post/3lduzt3lob22q"
      style="width: 100%; height: 200px; border: none;"
      loading="lazy"
      title="Bluesky Post"
    ></iframe>
  </body>
</html>
