on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macOS-latest, r: 'release'}
          - {os: ubuntu-20.04, r: 'release'}

    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: ${{ matrix.config.rspm }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2

      # Install libomp via Homebrew for macOS only
      - name: Install libomp via Homebrew
        if: runner.os == 'macOS'
        run: |
          brew install libomp

      # Set DYLD_LIBRARY_PATH on macOS
      - name: Set DYLD_LIBRARY_PATH for macOS
        if: runner.os == 'macOS'
        run: |
          export DYLD_LIBRARY_PATH=$(brew --prefix libomp)/lib
          echo "DYLD_LIBRARY_PATH is set to $DYLD_LIBRARY_PATH"
        shell: bash

      - uses: r-lib/actions/setup-r@v2-branch
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}

      - uses: r-lib/actions/setup-pandoc@v2-branch

      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: 3.9
          miniconda-version: "latest"

      - name: Configure Conda (set default channel and solver)
        run: |
          conda config --add channels defaults
          conda config --set solver classic

      - name: Install numpy via Conda
        run: conda install -c conda-forge numpy

      - name: Query dependencies
        run: |
          install.packages('remotes')
          saveRDS(remotes::dev_package_deps(dependencies = TRUE), ".github/depends.Rds", version = 2)
          writeLines(sprintf("R-%i.%i", getRversion()$major, getRversion()$minor), ".github/R-version")
        shell: Rscript {0}

      - name: Cache R packages
        if: runner.os != 'Windows'
        uses: actions/cache@v1
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-${{ hashFiles('.github/depends.Rds') }}
          restore-keys: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-

      # Install system dependencies on Ubuntu
      - name: Install system dependencies on Ubuntu
        if: runner.os == 'ubuntu-20.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libomp-dev  # Install libomp via apt on Ubuntu
          sudo apt install libharfbuzz-dev
          sudo apt install libfribidi-dev

      # Explicitly Install devtools on Ubuntu and macOS
      - name: Install devtools for Ubuntu/macOS
        run: |
          install.packages('devtools')
        shell: Rscript {0}

      - name: Install dependencies
        run: |
          remotes::install_deps(dependencies = TRUE)
          remotes::install_cran("rcmdcheck")
        shell: Rscript {0}

      - name: Fix Conda permissions on macOS (SUDO)
        if: runner.os == 'macOS'
        run: sudo chown -R $UID $CONDA

      # Set KMP_DUPLICATE_LIB_OK only for macOS
      - name: Set KMP_DUPLICATE_LIB_OK on macOS
        if: runner.os == 'macOS'
        env:
          KMP_DUPLICATE_LIB_OK: TRUE
        run: |
          echo "KMP_DUPLICATE_LIB_OK is set to TRUE"

      - name: Installing text and testing it
        run: |
          library(devtools)
          devtools::install_github("oscarkjell/text")
          text::textrpp_install(prompt = FALSE)
          text::textrpp_initialize(textEmbed_test = TRUE)
        shell: Rscript {0}

      - name: Session info
        run: |
          options(width = 100)
          pkgs <- installed.packages()[, "Package"]
          sessioninfo::session_info(pkgs, include_base = TRUE)
        shell: Rscript {0}

      - name: Check
        run: rcmdcheck::rcmdcheck(args = c("--no-manual", "--as-cran"), error_on = "warning", check_dir = "check")
        shell: Rscript {0}

      - name: Show testthat output
        if: always()
        run: find check -name 'testthat.Rout*' -exec cat '{}' \; || true
        shell: bash
